name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        run: docker build -t chniha03/backend-app:latest ./backend

      - name: Run backend tests
        run: docker run chniha03/backend-app:latest pytest

      - name: Build frontend image
        run: docker build -t chniha03/frontend-app:latest ./frontend

      - name: Trivy scan backend image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: chniha03/backend-app:latest
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: Trivy scan frontend image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: chniha03/frontend-app:latest
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: Push backend image
        run: docker push chniha03/backend-app:latest

      - name: Push frontend image
        run: docker push chniha03/frontend-app:latest
