name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend Docker image
        run: docker build -t backend-app ./backend

      - name: Run backend tests
        run: docker run backend-app pytest

      - name: Build frontend Docker image
        run: docker build -t frontend-app ./frontend

      - name: Trivy scan backend image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: backend-app
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: Trivy scan frontend image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: frontend-app
          severity: HIGH,CRITICAL
          exit-code: 0
